<a href="https://colab.research.google.com/github/Wpompeo/Wpompeo_DataScience/blob/master/An%C3%A1lise_Explorat%C3%B3ria_m%C3%B3dulo2_DSNP_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Análise Exploratória

É dificil delimitar o que é análise exploratória, pois ela envolve toda a etapa a partir da aquisição do banco de dados e importação deste.

As técnicas são inumeras e dependentes de cada problema e *dataset*. O objetivo desta aula é mostrar algumas técnicas comuns a todos os projetos de *Data Science* que você irá se deparar.

Para começar, vou importar um *dataset* contendo as ocorrências com a aviação civil no Brasil.

In [3]:
DATA_PATH = "https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/ocorrencias_aviacao.csv"

#importar os pacotes necessários
import pandas as pd

#importar o arquivo csv
df = pd.read_csv(DATA_PATH, index_col="codigo_ocorrencia")

#ver as primeiras entradas
df.head()

                  ocorrencia_classificacao  ... ocorrencia_dia_extracao
codigo_ocorrencia                           ...
201305055424986                   ACIDENTE  ...              2018-08-28
201605160250139            INCIDENTE GRAVE  ...              2018-08-28
201805021421302                  INCIDENTE  ...              2018-08-28
201311259977425            INCIDENTE GRAVE  ...              2018-08-28
201103187273112                  INCIDENTE  ...              2018-08-28

[5 rows x 21 columns]

## Resumo do DataFrame

Executando o método `info()` em uma variável, você obtém um resumo geral sobre todas as variáveis (colunas) do seu conjunto de dados.

Você consegue ver a quantidade de entradas, valores não-nulos e o tipo de cada variável. Também é informado a quantidade de memória que está sendo usado para carregar o *DataFrame* na máquina.

In [4]:
#ver tamanho do Data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5208 entries, 201305055424986 to 201309012098180
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ocorrencia_classificacao        5208 non-null   object
 1   ocorrencia_tipo                 5208 non-null   object
 2   ocorrencia_tipo_categoria       5208 non-null   object
 3   ocorrencia_tipo_icao            5208 non-null   object
 4   ocorrencia_latitude             5208 non-null   float64
 5   ocorrencia_longitude            5208 non-null   float64
 6   ocorrencia_cidade               5208 non-null   object
 7   ocorrencia_uf                   5208 non-null   object
 8   ocorrencia_pais                 5208 non-null   object
 9   ocorrencia_aerodromo            5208 non-null   object
 10  ocorrencia_dia                  5208 non-null   object
 11  ocorrencia_horario              5208 non-null   object
 12  investigacao_aeronave_liberada  1110 non-null   object
 13  investigacao_status             5208 non-null   object
 14  divulgacao_relatorio_numero     5208 non-null   object
 15  divulgacao_relatorio_publicado  5208 non-null   object
 16  divulgacao_dia_publicacao       1261 non-null   object
 17  total_recomendacoes             5208 non-null   int64
 18  total_aeronaves_envolvidas      5208 non-null   int64
 19  ocorrencia_saida_pista          5208 non-null   object
 20  ocorrencia_dia_extracao         5208 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 895.1+ KB

## Identificar o tipo de cada coluna

Apesar de ser possível identificar os tipos de cada coluna usando `info()`, você pode extrair apenas essa informação com o atributo `dtypes`. 

Tipos das variáveis é uma informação importante para você colocar no seu Dicionário de Variáveis de um projeto, pois garante uma boa prática de documentação do projeto.

In [5]:
#identificar os tipos de variáveis
df.dtypes

ocorrencia_classificacao           object
ocorrencia_tipo                    object
ocorrencia_tipo_categoria          object
ocorrencia_tipo_icao               object
ocorrencia_latitude               float64
ocorrencia_longitude              float64
ocorrencia_cidade                  object
ocorrencia_uf                      object
ocorrencia_pais                    object
ocorrencia_aerodromo               object
ocorrencia_dia                     object
ocorrencia_horario                 object
investigacao_aeronave_liberada     object
investigacao_status                object
divulgacao_relatorio_numero        object
divulgacao_relatorio_publicado     object
divulgacao_dia_publicacao          object
total_recomendacoes                 int64
total_aeronaves_envolvidas          int64
ocorrencia_saida_pista             object
ocorrencia_dia_extracao            object
dtype: object

## Valores únicos

Para ver quais são todos os valores únicos de uma coluna, é conveniente usar o método `unique()`.

In [6]:
df.ocorrencia_tipo.unique()

array(['FALHA DO MOTOR EM VOO',
       'COLISÃO COM OBSTÁCULO DURANTE A DECOLAGEM E POUSO', 'AERÓDROMO',
       'POUSO SEM TREM', 'OUTROS', 'PERDA DE CONTROLE NO SOLO',
       'POUSO LONGO', 'TRÁFEGO AÉREO', 'PERDA DE CONTROLE EM VOO',
       'COM TREM DE POUSO', 'INDETERMINADO', 'ESTOURO DE PNEU',
       'VOO CONTROLADO CONTRA O TERRENO', 'EXCURSÃO DE PISTA',
       'POUSO BRUSCO', 'CAUSADO POR FENÔMENO METEOROLÓGICO EM VOO',
       'INCURSÃO EM PISTA', 'VAZAMENTO DE OUTROS FLUIDOS', 'COM ROTOR',
       'FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPONENTE ',
       'PERDA DE COMPONENTE EM VOO', 'SOPRO DE REATOR',
       'COM PARA-BRISAS / JANELA / PORTA', 'COM LANÇAMENTO DE CARGA',
       'POUSO ANTES DA PISTA', 'F.O.D.', 'PROBLEMAS FISIOLÓGICOS',
       'DESCOMPRESSÃO NÃO INTENCIONAL / EXPLOSIVA',
       'COLISÃO DE VEÍCULO COM AERONAVE', 'FOGO NO SOLO', 'FOGO EM VOO',
       'CAUSADO POR FENÔMENO METEOROLÓGICO NO SOLO', 'COM PESSOAL EM VOO',
       'COLISÃO DE AERONAVES EM VOO', 'FUMAÇA NA CABINE',
       'COLISÃO COM OBSTÁCULOS NO SOLO', 'PERDA DE COMPONENTE NO SOLO',
       'SOPRO DE ROTOR', 'FALHA DO MOTOR NO SOLO', 'SUPERAQUECIMENTO',
       'COM COMANDOS DE VOO', 'FALHA ESTRUTURAL',
       'POUSO EM LOCAL NÃO PREVISTO', 'DESORIENTAÇÃO ESPACIAL',
       'VAZAMENTO DE COMBUSTÍVEL', 'PANE SECA',
       'COLISÃO COM AERONAVE NO SOLO', 'CORTE INVOLUNTÁRIO DO MOTOR',
       'TURBULÊNCIA', 'OPERAÇÃO A BAIXA ALTITUDE', 'COM HÉLICE',
       'COM LANÇAMENTO DE PESSOAS', 'COLISÃO EM VOO COM OBJETO REBOCADO',
       'AERONAVE ATINGIDA POR OBJETO',
       'FALHA OU MAU FUNCIONAMENTO DO MOTOR',
       'CONTATO ANORMAL COM A PISTA ', 'CORTANTE DE VENTO / TEMPESTADE',
       'OPERAÇÕES NO SOLO', 'CAUSADO POR RICOCHETE',
       'RELACIONADO COM SECURITY', 'PERDA DA CONSCIÊNCIA',
       'ALARME FALSO DE FOGO OU DE SUPERAQUECIMENTO', 'MANOBRA ABRUPTA'],
      dtype=object)

Enquanto o método acima retorna a lista de valores únicos, muitas vezes queremos saber a frequência com que elas ocorrem.

No exemplo da coluna `ocorrencia_tipo`, para saber a quantidade de cada tipo de ocorrência, podemos usar `value_counts()`.

In [8]:
df.ocorrencia_tipo.value_counts()

FALHA DO MOTOR EM VOO                                  682
ESTOURO DE PNEU                                        604
FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPONENTE     574
PERDA DE CONTROLE NO SOLO                              492
OUTROS                                                 350
                                                      ...
CORTANTE DE VENTO / TEMPESTADE                           1
RELACIONADO COM SECURITY                                 1
MANOBRA ABRUPTA                                          1
PERDA DA CONSCIÊNCIA                                     1
ALARME FALSO DE FOGO OU DE SUPERAQUECIMENTO              1
Name: ocorrencia_tipo, Length: 63, dtype: int64

Para transformar a célula acima em porcentagem, é só dividir os valores pela quantidade total de linhas do nosso conunto de dados.

Como vimos lá atrás, a quantidade de linhas é obtida por `df.shape[0]`.

In [10]:
df.ocorrencia_tipo.value_counts()/ df.shape[0]

FALHA DO MOTOR EM VOO                                  0.130952
ESTOURO DE PNEU                                        0.115975
FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPONENTE     0.110215
PERDA DE CONTROLE NO SOLO                              0.094470
OUTROS                                                 0.067204
                                                         ...
CORTANTE DE VENTO / TEMPESTADE                         0.000192
RELACIONADO COM SECURITY                               0.000192
MANOBRA ABRUPTA                                        0.000192
PERDA DA CONSCIÊNCIA                                   0.000192
ALARME FALSO DE FOGO OU DE SUPERAQUECIMENTO            0.000192
Name: ocorrencia_tipo, Length: 63, dtype: float64

Para transformar a célula acima em porcentagem, é só dividir os valores pela quantidade total de linhas do nosso conunto de dados.

Como vimos lá atrás, a quantidade de linhas é obtida por `df.shape[0]`.

### loc

Para usar esta opção, você deve entender que o mesmo funciona da seguinte maneira:

`loc[<linhas>, <colunas>]`

Este método pode ser usado em duas situações:

* Selecionar linhas por *labels*/*index*
* Selecionar linhas baseado em um *array* booleano

Vou dar um exemplo da primeira situação em que podemos usar `loc`. Suponha que eu precise extrair a latitude e longitude do local onde aconteceu a ocorrência de número `200808073991179`:

In [11]:
df.loc[200808073991179, ['ocorrencia_latitude', 'ocorrencia_longitude']]

ocorrencia_latitude     -9.1194
ocorrencia_longitude   -68.5978
Name: 200808073991179, dtype: object

Vou dar um exemplo da segunda situação em que podemos usar loc. Suponha que eu queria saber todos os voos onde eu tive ocorrência do tipo "FALHA DO MOTOR EM VOO":

In [12]:
#ver apaenas as 5 primeiras entradas da situação
df.loc[df["ocorrencia_tipo"]== "FALHA DO MOTOR EM VOO"].head()

                  ocorrencia_classificacao  ... ocorrencia_dia_extracao
codigo_ocorrencia                           ...
201305055424986                   ACIDENTE  ...              2018-08-28
201211159478138                   ACIDENTE  ...              2018-08-28
200811167138358                   ACIDENTE  ...              2018-08-28
201111224132085                   ACIDENTE  ...              2018-08-28
201509183338691                   ACIDENTE  ...              2018-08-28

[5 rows x 21 columns]

### iloc

O uso do `iloc` é mais simples, pois a gente passa seleciona linhas e colunas usando números, na mesma ordem em que aparecem no *DataFrame*:

`loc[<numero_da_linha>, <numero_da_coluna>]`

Eu consigo selecionar um *range* de interesse. Por exemplo, para selecionar as 3 primeiras entradas e as 4 primeiras colunas, eu faria da seguinte maneira:

In [13]:
df.iloc[:3,:4]

                  ocorrencia_classificacao  ... ocorrencia_tipo_icao
codigo_ocorrencia                           ...
201305055424986                   ACIDENTE  ...               SCF-PP
201605160250139            INCIDENTE GRAVE  ...                 CTOL
201805021421302                  INCIDENTE  ...                 ADRM

[3 rows x 4 columns]